.buttonStyle {
  @include buttonStyle(
    $color-white-0,
    linear-gradient(-45deg, #1cbcd1, #ca118c),
    linear-gradient(-45deg, #1cbcd1, #ca118c),
    $fs-3,
    $fw-0,
    $pd-0 + 2,
    $pd-4,
    $border-radius-1
  );
  opacity: 1;
  border: none;
  transition: 0.5s all;
  &:hover {
    @include hoverButton(
      $color-white-0,
      linear-gradient(-45deg, #1cbcd1, #ca118c),
      linear-gradient(-45deg, #1cbcd1, #ca118c),
      $border-radius-1
    );
    opacity: 0.8;
    text-decoration: none;
    transition: all 0.3s;
  }
}
