.checkout {
  .checkout__cover {
    margin: 0 auto;
    display: flex;
    .checkOutLeft {
      width: 73%;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      .checkOutLeft__title {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        color: #000;
        .checkOutLeft__navbar {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0;
          padding: 13px 30px;
          .checkOutLeft__item {
            list-style: none;
            &:not(:nth-child(3)) {
              padding-top: 0px;
            }
          }
        }
      }
      .checkOutLeft__infoCine {
        display: flex;
        padding: 10px;
        .checkOutLeft__text{
          p{
            color: #4a4a4a4a;
          }
        }
      }

      .checkOutLeft__SeatMap {
        margin-top: 50px;
        margin: auto 0;
        .checkOutLeft__screen {
          width: 60%;
          margin: 0 auto;
        }
        .checkOutLeft__SeatMap--cover {
          justify-content: center;
          align-items: center;
          width: 95%;
          margin: 0 auto;
          .checkOutLeft__seatItem {
            margin: 8px;
            border-radius: 4px;
            width: 35px;
            height: 35px;
            padding: 0;
            color: white;
            outline: none;
           
          }
        }
      }
    }
    .checkOutRight {
      width: 27%;
      // position: fixed;
      z-index: 1;
      right: 0;
      //   background-color: white;
      box-shadow: 0 0 13px rgba(74, 74, 74, 0.29);

      color: #000;
      min-height: 100vh;
      .checkOutRight__cover {
        padding: 20px;
        .title {
          text-align: center;
          border-bottom: 1px dashed #d6d6d69c;
          @include styleText(#8bc541, $fs-6 + 11, $fw-3);
          margin: 0;
          padding-bottom: 10px;
        }

        .checOutRight__infoMovie {
          // background: linear-gradient(
          //   to right,
          //   rgba(194, 116, 187, 0.7),
          //   rgba(108, 217, 224, 0.7)
          // );
          border-bottom: 1px dashed #d6d6d69c;

          border-radius: 10px;
          margin-bottom: 20px;
          padding: 20px;
          display: flex;
          color: #4a4a4a4a;
          img {
            width: 70px;
            height: 70px;
            border-radius: 10px;
            margin-right: 10px;
          }
          p:first-child{
           
            @include styleText($color-black-0, $fs-5, $fw-3)
          }
          p:last-child{
            font-size: $fs-2 + 1;
          }

        }
        .checkOutRight__infoCinema {
          p{
            color: $color-red-0;
          }
          span{
            color: #000;
          }
          // background: linear-gradient(
          //   to right,
          //   rgba(194, 116, 187, 0.7),
          //   rgba(108, 217, 224, 0.7)
          // );
          border-bottom: 1px dashed #d6d6d69c;

          padding: 20px;
          border-radius: 10px;
          display: flex;
          margin-bottom: 20px;
          img {
            border-radius: 10px;
            margin-right: 10px;
            width: 70px;
            height: 70px;
          }
        }
        .buttonStyle {
          background: linear-gradient(
            95deg,
            #73e611 0%,
            #119e00 59%
          ) !important;
          padding: 3px 7px;
          margin-right: 5px;
        }
        .buttonStyle:not(:first-child) {
          padding: 20px;
        }
      }
    }
  }
}
.ghe {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border-radius: 5px;
  margin: 15px;
border: none;
  background-color: rgb(150, 148, 148);
}
.gheDangDat {
  background-color: rgb(18,176,18) !important;
}
.gheDaDat {
  cursor: no-drop;
  background-color: rgb(232,76,76) !important;
}
.gheVip{
  background-color: #FFCE54;
}




.animationTextCinema {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, rgb(100, 173, 3), #fff, rgb(235, 91, 8));
  background-repeat: no-repeat;
  background-size: 80%;
  white-space: nowrap;
  animation: animate 5s linear infinite;
  background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@include responsive("extra-large") {


}
