.myNavBar {
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 10;
  max-height: 100px;
  &.navbar {
    padding: 0 !important;
  }
  .myNavBar__left {
    .myNavBar__logo {
      width: 50px;
    }
    .myNavBar__title {
      .nav-item {
        padding-left: 20px;
        .nav-link {
          color: #000;
          font-weight: 500;
          &:hover {
            color: #ffdc00;
            transition: all 0.2s;
          }
          &.active {
            color: #ffdc00;
            transition: all 0.2s;
          }
        }
      }
    }
  }
  .myNavBar__right {
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    .myNavBar__login {
      .myNavBar__login--cover {
        .MuiButtonBase-root.MuiIconButton-root.MuiIconButton-colorInherit {
          outline: none !important;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }

    .dropdown {
      .dropdown-toggle {
        width: 50px;
        text-decoration: none;
        &::after {
          color: #ffdc00;
          // margin-left: 8px;
        }
        .myNavBar__styleText {
          color: #000;

          &:hover {
            text-decoration: none;
          }
        }
      }
      .dropdown-menu {
        height: 300px;
        overflow: hidden;
        overflow-y: scroll;
        &.show {
          z-index: 999;
        }
      }
    }
  }
}
.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
  transform: translate(50px, 40px) !important;
  .myNavBar__infoUser {
    text-decoration: none !important;
    color: #ffffff;
  }
}

@media screen and (max-width: 768px) {
  .myNavBar {
    display: flex;
    .myNavBar__left {
      width: 50%;
      .myNavBar__title {
        display: none;
      }
    }
    .myNavBar__right {
      width: 50%;
    }
  }
}
@media screen and (max-width: 1000px) {
  .myNavBar {
    .myNavBar__right {
      justify-content: flex-end;
      .myNavBar__login {
        .myNavBar__name {
          display: none;
        }
      }
      .dropdown {
        display: none;
      }
    }
  }
}
