.header-mobile {
  max-height: 75px;
  position: fixed;
  width: 100%;
  z-index: 10000;
  padding: 5px 10px 0 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  .header-mobile-contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    .header-mobile-icon {
      font-size: 40px;
      z-index: 100;
      cursor: pointer;
      right: 10px;
    }
    img {
      width: 40px;
    }
  }
  .header-nav {
    position: absolute;
    width: 230px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    position: fixed;

    &.display-menu {
      animation: open 0.5s;
    }
    &.hidden-menu {
      animation: close 0.5s;
    }
    h4 {
      color: #fff;
      padding: 0px 0 15px 15px;
      span {
        margin-left: 4px;
      }
    }
  }
}
.MuiList-root {
  height: 100%;
  background-color: #001529 !important;
  color: #fff !important;
  font-size: 20px;
  .MuiListItem-button {
    border-radius: 4px !important;
    .nav-link {
      display: inline-block;
      color: #fff;
    }
    &:hover {
      color: #001529 !important;
      transition: 0.5s all;
      background-color: #6a5af9 !important;
      .nav-link {
        color: #001529;
        transition: 0.5s all;
      }
    }
  }
}

@keyframes open {
  from {
    left: -500px;
  }
  to {
    left: 0;
  }
}

@keyframes close {
  from {
    left: 0;
  }
  to {
    left: -500px;
  }
}
