.infoUser {
  padding: 80px 0 40px 0;
  .infoUser__cover {
    width: 70%;
    margin: 0 auto;
    .infoUser__top {
      position: relative;
      border-radius: 10px !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      height: 320px;
      margin-bottom: 120px;
      .infoUser__item {
        transform: translateY(140px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        // transform: translate(240%,50%);
        h3 {
          color: #000;
          text-align: center;
        }
      }
    }
    hr{
     border: 1px dashed #4a4a4a4a;
    }
    .infoUser__bottom{
      // padding-top: 120px;
      padding: 15px 0;
      

    
    }
  }
}
