.loader{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #3130304a;
  z-index: 5000;
  .loading{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 47%;
    border-radius: 50%;
    // transform: translateX(-50%);
  }
}
