.movieDetail {
  color: #000;
  padding-bottom: 100px;
  // background: linear-gradient(to right, rgba(227, 172, 238, 0.699),rgba(167, 245, 248, 0.671));
  .movieDetail__overlay {
    position: absolute;
    width: 100%;
    height: inherit;
    top: 66px;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.815),
      rgba(43, 42, 42, 0.712) 100%
    );
  }
  .movieDetail__top {
    padding: 66px 0 40px 0;
    width: 100%;
    .movieDetail__cover {
      width: 85%;
      margin: 0 auto;
      .movieDetail__infoMovie {
        color: #fff;
        margin-top: 35px;

        .movieDetail__title {
          @include styleText(#ffdc00, 30px, $fw-3);
          margin-bottom: 5px;
        }
        .movieDetail__typography {
          margin-bottom: 15px;
          display: flex;
          background-color: rgba(255, 255, 255, 0.5);
          border-radius: 10px;
          font-size: 18px;
          p {
            margin-bottom: 5px;
          }
        }
        .buttonStyle{
          width: 100%;
        }
        .movieDetail__content {
          font-size: 16px;
        }
      }
      .movieDetail__rate {
        color: #f0b90b;
        margin-top: 30px;
        margin-left: 40px;

        .movieDetail__percent {
          position: relative;
          width: 140px;
          height: 132px;
          color: #f0b90b;

          svg {
            position: relative;
            circle {
              width: 140px;
              height: 125px;
              stroke: #000;
              stroke-width: 8px;
              fill: none;
              transform: translate(5px, 5px);
              stroke-dasharray: 358;
              stroke-dashoffset: 358;
              &:nth-child(1) {
                fill: rgba(0, 0, 0, 0.4);
                stroke-dashoffset: 0;
                stroke: #3a3a3a;
              }
              &:nth-child(2) {
                stroke: #8bc541 !important;
              }
              p {
                z-index: 10 !important;
              }
            }
          }
          // rgb(240, 185, 11)
          .number {
            color: #fff;
            display: flex;
            width: 100%;
            height: 100%;
            position: absolute;
            top: -6px;
            left: -6px;
            justify-content: center;
            align-items: center;
            h2 {
              font-size: 50px;
              color: #f0b90b;
            }
          }
        }
        .star {
        }

        .vote span {
          color: #e9e9e9;
          font-size: 14px;
        }
      }
      .movieDetail__img {
        // width: ;
        position: relative;
        width: 315px;
        height: 315px;

        .movieDeatail__imgRotate {
          width: 500px;
          height: 500px;

          position: absolute;
          top: 20px;
        }
        .movieDeatail__imgMovie {
          width: inherit;
          height: inherit;
          border-radius: 50%;
          z-index: 1;
          position: absolute;
          transform: translate(92px, 114px);
        }
        .overlay {
          z-index: 4;
          position: absolute;
          width: inherit;
          height: inherit;
          border-radius: 50%;
          transform: translate(92px, 114px);
          background: linear-gradient(0deg, #000, transparent);
        }
        .button__play {
          z-index: 9;
          color: #fff;
          position: absolute;
          width: 18%;
          left: 71%;
          top: 74%;
          cursor: pointer;
        }
      }
      .movieDetail__infoMovie {
        // p:nth-child(1) {
        //   span {
        //     @include buttonAge(#b57edc, white, 16px, 500, 5px, 8px, 4px);
        //   }
        // }

        .buttonStyle {
          background: linear-gradient(-45deg, #1cbcd1, #ca118c);
          a {
            color: #fff;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .movieDetail__bottom {
    width: 100%;
    @include styleTextTitle();
    .nav {
      .nav-item {
        color: #fff;
      }
    }
    .movieDetail__showTime {
      display: flex;
      width: 70%;
      margin: 0 auto;
      border: 1px solid rgba(238, 238, 238, 0.88);
      border-radius: 10px;
      background-color: #fff;
      .movieDetailLeft {
        width: auto;

        .wrapMovieDetailLeft {
          border: 1px solid rgba(238, 238, 238, 0.88);
          padding: 10px;
          margin: 0;
          height: 100%;
          border-radius: 10px;

          .movieDetailLeft__item {
            display: flex;
            align-items: center;
            padding: 15px;
            border-radius: 5px;
            // border-bottom: 1px solid #eeeeeee0;
            &.active {
              box-shadow: #e2e2cf 0px 5px 12px 4px;
              // border-right: 3px solid rgb(240, 185, 11);
            }
            img {
              width: 50px;
            }
            p {
              margin: 0 0 0 25px;
            }
            &:hover {
              box-shadow: #e2e2cf 0px 5px 12px 4px;
              border-radius: 5px;
              // border-right: 3px solid rgb(240, 185, 11);
            }
          }
        }
      }
      .movieDetailRight {
        width: 100%;
        overflow: hidden;
        flex-direction: row;
        .wrapMovieDetailRight__navDay {
          width: 100%;
          overflow-x: scroll;
          background-color: #fafafa;
          margin-top: 10px;
          border-radius: 10px;

          .movieDetailRight__navDay {
            display: flex;
            white-space: nowrap;
            padding-left: 0;

            .movieDetailRight__navDayItem {
              text-align: center;
              list-style: none;
              padding: 5px 20px;
              position: relative;
              p {
                margin-bottom: 0;
              }

              &.active,
              &:hover {
                // border-bottom: 2px solid $color-red-0;

                &::after {
                  content: "";
                  width: 100%;
                  height: 4px;
                  background-color: rgb(240, 185, 11);
                  position: absolute;
                  bottom: -1px;
                  left: 0;
                  display: inline-block;
                  transition: all 0.5s;
                }
              }
            }
          }
        }
        .movieDetailRight__content {
          height: 430px;
          // overflow-y: scroll;
          border-radius: 10px;
          // -ms-overflow-style: none;
          // scrollbar-width: none;
          // &::-webkit-scrollbar {
          //   display: none;
          // }
          .movieDetailRight__item {
            padding: 20px 40px 0 40px;
            overflow: hidden;

            .movieDetailRight__top {
              p:nth-child(1) {
                margin-bottom: 5px;
                font-weight: 700;
              }
            }
            .movieDetailRight__bottom {
              border-bottom: 1px solid #eeeeeee0;

              padding-bottom: 10px;
            }
            &:hover {
              box-shadow: #e2e2cf 0px 5px 12px 4px;
              transition: 0.5s all;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 3s linear infinite;
  -moz-animation: rotating 3s linear infinite;
  -ms-animation: rotating 3s linear infinite;
  -o-animation: rotating 3s linear infinite;
  animation: rotating 3s linear infinite;
}

h1 {
  font-size: 30px;
  display: block;
  text-align: center;
  padding-right: 40px;
  color: #00b7ee;
}

@media only screen and (max-width: 1200px) {
  .movieDetail {
    .movieDetail__top {
      .movieDetail__cover {
        .movieDetail__img {
          left: 23%;
          margin-bottom: 200px;

        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .movieDetail {
    .movieDetail__top {
      .movieDetail__cover {
        .movieDetail__img {
          left: 17%;
        }
      }
    }
  }
}

@media screen and(max-width: 992px) {
  .movieDetail {
    .movieDetail__top {
      .movieDetail__cover {
        .movieDetail__img {
          left: 15%;
        }
      }
    }
    .movieDetailLeft__name {
      display: none;
    }
  }
}

@media screen and(max-width: 768px) {
  .movieDetail {
    .movieDetail__cover {
      .movieDetail__img {
        // width: ;
        left: 11% !important;
        position: relative;
        width: 251px !important;
        height: 251px !important;
        margin-bottom: 175px !important;
        .movieDeatail__imgRotate {
          width: 400px !important;
          height: 400px !important;
        }
        .movieDeatail__imgMovie {
          transform: translate(75px, 95px) !important;
        }
        .overlay {
          transform: translate(75px, 95px) !important;
        }
        .button__play {
          left: 66% !important;
        }
      }
    }
    .movieDetail__infoMovie {
      color: #fff;
      margin-top: 35px;

      .movieDetail__title {
        margin-bottom: 5px;
        font-size: 23px !important;
      }
      .movieDetail__typography {
        margin-bottom: 15px;
        display: flex;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        font-size: 14px !important;
        p {
          margin-bottom: 5px;
        }
      }
      .movieDetail__content {
        font-size: 14px !important;
      }
    }
  }
}

@media screen and(max-width: 570px) {
  .movieDetail {
    .movieDetail__cover {
      .movieDetail__img {

        left: 16% !important;
        position: relative;
        width: 175px !important;
        height: 175px !important;
        margin-bottom: 120px !important;
        .movieDeatail__imgRotate {
          width: 280px !important;
          height: 280px !important;
        }
        .movieDeatail__imgMovie {
          transform: translate(52px, 72px) !important
        }
        .overlay {
          transform: translate(52px, 72px) !important
        }
        .button__play {
          left: 71% !important;
          top: 77% !important;
        }
      }
      .movieDetail__rate{
        display: none !important;
      }
    }
  }
}
@media screen and(max-width: 470px) {
  .movieDetail {
    .movieDetail__cover {
      .movieDetail__img {
        left: 10% !important;
        margin-bottom: 110px !important;
      }
    }
  }
}

@media screen and(max-width: 400px) {
  .movieDetail {
    top: 15px !important;
    .movieDetail__cover {
      .movieDetail__img {
        // width: ;
        left: 12% !important;
        position: relative;
        width: 137px !important;
        height: 137px !important;
        margin-bottom: 80px !important;
        .movieDeatail__imgRotate {
          width: 220px !important;
          height: 220px !important;
        }
        .movieDeatail__imgMovie {
          transform: translate(42px, 62px) !important;
        }
        .overlay {
          transform: translate(42px, 62px) !important;
        }
        .button__play {
          left: 71% !important;
          top: 82% !important;
        }
      }
   
    
    }
  }
}
