.movieList {
  padding-top: 30px;
  .swiper-slide {
    display: inline-block !important;

  }
  .slick-arrow {
    position: absolute;

    &::before {
      color: #000;
      font-size: 37px;
      line-height: 0 !important;
    }
  }
  .slick-prev {
    position: absolute;
    &::before {
      color: #000;
      font-size: 37px;
      line-height: 0 !important;
    }
  }
  .slick-arrow,
  .slick-next {
    position: absolute;
    &::before {
      color: #000;
      font-size: 37px;
      line-height: 0 !important;
     
    }
  }
  .movieList__cover {
    padding-top: 50px;
    // padding-left: 16px;
    width: 80%;
    margin: 0 auto;
    @include styleTextTitle();
  }
}
@media screen and (max-width: 992px) {
  .movieList {
    padding: 0;
    .movieList__cover {
      padding: 0;
    }
  }
}
.movieList {
  .swiper-wrapper {
    display: block !important;
  }
}
